#searchBox {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  color: white;
}

#searchDropdown {
  margin-top: 15px;
  margin-left: 12px;
}

/* left search */

.search1 {
  float: left;
  margin-left: 1px;
}

.searchTextBox {
  margin-right: 20px;
}

.searchBy {
  color: white;
  float: left;
  margin-right: 10px;
}

/* end left search */
/* right search */

.search2 {
  float: right;
  margin-right: 200px;
}

.dropdown {
  float: left;
  margin-right: 10px;
}

.searchBtn {
  float: right;
}

/* end right search */
