.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: white;
}

/* left search */

.search1 {
  float: left;
  margin-left: -80%;
  margin-right: 0;
}

.searchTextBox {
  margin-right: 20px;
}

.searchBy {
  color: white;
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

/* end left search */
/* right search */

.search2 {
  float: right;
  margin-left: -150px;
  /* margin-right: 250px; */
}

.dropdown {
  float: left;
  margin-right: 10px;
}

/* end right search */
