<!-- search link in top navbar -->
<div class="search1">
  <input class="searchTextBox" type="text" [(ngModel)]="searchString">
  <div class="searchBy">
    <button class="astext" (click)="profileOrPost()">Search</button>
  </div>
</div>
<div class="search2">
  <div class="dropdown">
    <select [(ngModel)]="searchType" name="searchType">
      <option disabled>Profiles</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="username">Username</option>
      <option disabled>Posts</option>
      <option value="title">Title</option>
    </select>
<!-- end search link in top navbar -->
