.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.jumbotron {
  text-align: center;
}

.aboutMe {
  text-align: left;
  padding-left: 10px;
}

h1 {
  text-align: center;
}

.card {
  padding: 15px;
  margin-left: 75px;
  margin-right: 75px;
}
