<div class="container">
  <h1>CritiqueMe</h1>
  <div class="jumbotron jumbotron-fluid">
    <div *ngIf="!homeCheckLogin()">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">New to the site?</h4>
            <p class="card-text">Join us!</p>
            <button mat-raised-button color="accent" [routerLink]="['/register']">Register</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Have an account?</h4>
            <p class="card-text">Welcome back!</p>
            <a mat-raised-button color="primary" [routerLink]="['/login']">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1>About CritiqueMe</h1>
  <div class="jumbotron jumbotron-fluid">
    <p>
      Have you ever needed an opinion on something you were working on? Maybe a fresh set of eyes? Or, even better, what if you couls ask someone who actually knows what they are talking about? Someone who actually works in that field?
    </p><p>
      Welcome to CritiqueMe! We work to connect users with others who are willing and able to assist you with whatever you may need! Our users enjoy helping others and giving advice!
    </p>
    <p>Does this sound like you? Or, maybe you enjoy helping others and would like to give advice. If so, join us!</p>
  </div>
</div>
