<div class="container">
  <h1>CritiqueMe</h1>
  <div class="jumbotron jumbotron-fluid">

    <div *ngIf="!homeCheckLogin()">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">New to the site?</h4>
            <p class="card-text">Join us!</p>
            <button mat-raised-button color="accent" [routerLink]="['/register']">Register</button>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Have an account?</h4>
            <p class="card-text">Welcome back!</p>
              <a mat-raised-button color="primary" [routerLink]="['/login']">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
