.profileInfo {
  float: left;
  margin-left: 3em;
}

.profileTable {
  float: left;
  /* margin-left: 3em; */
  border-collapse: collapse;
  border-style: ridge;
}

.profileTable td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

.profileTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.profileTable tr:hover {
  background-color: #ddd;
}

.profilePosts {
  float: right;
  margin-right: 3em;
}
.profileInfo {
  float: left;
}
.profilePic {
  /* float: left; */
  margin-left: 30px;
  padding-top: 25px;
  width: 200px;
}
.profileContent {
  position: absolute;
}
.buttons {
  padding: 10px;
  text-align: center;
}

.editProfileButton {
  margin-left: 3em;
}

/* .addPostButton {
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  width: 300px;
  height: 75px;
} */
.rightToolbar {
  flex: auto 1 1;
}
.middleToolbar {
  flex: 1 1 auto;
}
.newpost {
}
