.profileBanner {
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}
h1 {
  font-weight: 500;
}
.col {
  margin-left: 40px;
  margin-right: 40px;
}

/* *********** Profile Info *********** */
.profileHeader {
  padding: 5px;
}

.profileTable td,
th {
  border: 1px solid #ddd;
  padding: 6px;
}

.profileTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
.profileTable tr:nth-child(odd) {
  background-color: rgba(245, 245, 245, 0.568);
}

.profileTable tr:hover {
  background-color: #ddd;
}

.profilePosts {
  float: right;
}

.profileInfo {
  float: left;
}

.profilePic {
  width: 200px;
}

.profilePicDiv {
  text-align: center;
  padding: 5px;
  background-color: #f2f2f2;
}

.profileContent {
  padding-top: 40px;
  padding-right: 15px;
  position: absolute;
}

.editProfileButtonDiv {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 5px;
}

/* *********** Profile Info *********** */

/* *********** Profile Posts *********** */

.profilePostCards {
  padding: 3px;
}

mat-card {
  padding: 20px;
}

mat-card-title {
  font-size: medium;
  margin-bottom: 1px;
}

mat-card-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-small;
  font-style: italic;
}

mat-card-content {
  font-size: small;
  margin-top: 5px;
  float: left;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 25px;
}

mat-card-actions {
  text-align: right;
  margin-top: 5px;
}

.addPostButton {
  margin-right: 3px;
  margin-bottom: 5px;
}

h3 {
  text-align: center;
  padding: 25px;
}

.newPostButtonDiv {
  text-align: right;
  margin-bottom: 15px;
}

.postsBanner {
  background-color: #f2f2f2;
  padding: 0px;
}

#profilePostTitle {
  padding: 5px;
  font-size: medium;
  font-weight: bold;
}
#profilePostSubtitle {
  padding: 5px;
}
#selectedPostContent {
  font-size: smaller;
  padding-top: 0px;
  padding-left: 15px;
  margin-top: 0px;
}
#postData {
  width: 50px;
}
.modal-body p {
  word-wrap: break-word;
}
#mediaLink {
  word-wrap: break-word;
  padding-top: 15px;
}
#commentsDiv {
  padding-top: 15px;
  margin-bottom: 0px;
}
#commentsListDiv {
  word-wrap: break-word;
  margin-top: 0px;
}
#commenter {
  margin-top: 0px;
  padding-left: 15px;
  font-size: small;
  font-weight: 300;
  color: gray;
  font-style: oblique;
}
#comment {
  font-size: smaller;
}
/* *********** Profile Posts *********** */
