<h1>Welcome to {{selectedUser.username}}'s profile</h1>
<div>
  <button class="btn-outline-primary" (click)="editProfile = selected">Edit Profile</button>
</div>

<!-- profile pic -->
<div>
    <img src="{{selected.image}}" alt="{{selectedUser.username}}">
</div>

<!-- user information -->
<table>
  <tr>
    <th>First Name</th>
    <td>{{selected.firstName}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{selected.lastName}}</td>
  </tr>
  <tr>
      <th>Location</th>
      <td>{{selected.loc.city}} {{selected.loc.state}}</td>
  </tr>
  <tr>
    <th>Bio</th>
    <td>{{selected.bio}}</td>
  </tr>
  <tr>
    <th>Skills</th>
    <td>{{selectedSkill.title}}</td>
  </tr>
</table>

<!-- posts -->
<h3>Your Posts</h3>


    <!-- display a list of user's posts -->
    <!-- change add, update, delete to buttons only -->
    <div *ngIf="selected">
        <!-- add post -->
        <div>
          <h3>Add Post</h3>
          <form #addNewPost="ngForm">
            <input type="text" name="title" placeholder="Title" ngModel>
            <input type="text" name="content" placeholder="Text Content" ngModel/>
            <input type="text" name="media" placeholder="Media Content" ngModel>
            <button class="btn-outline-primary" (click)="addPost(addNewPost)" >Submit Post</button>
          </form>
        </div>

        <!-- update post -->
        <div>
          <h3>Update Post</h3>
            <form #editPost="ngForm">
                <input type="text" name="title" ngModel>
                <input type="text" name="content" ngModel>
                <input type="text" name="media" ngModel>
                <button class="btn-outline-primary" (click)="updatePost(editPost)" >Update Post</button>
                <button class="btn-outline-primary" name="delete" type="submit" (click)="deletePost(selected.id)">Delete Post</button>
            </form>
        </div>

        <!-- delete post -->
        <div>
          <h3>Delete Post</h3>
          <form>
              <table>
                  <tr>
                    <td>{{selected.title}}</td>
                    <td>{{selected.content}}</td>
                    <td>{{selected.media}}</td>
                    <td>{{selected.createdDate}}</td>
                    <td>{{selected.updatedDate}}</td>
                  </tr>
                </table>
          </form>
          <button class="btn-outline-primary" type="submit" name="delete" (click)="deletePost(selected.id)">Delete</button>
          <button class="btn-outline-primary" type="submit" name="cancel" selectedPost = null>Cancel</button>
        </div>
        </div>

