.buttons {
  padding: 10px;
  text-align: center;
}

/* *********** Profile Info *********** */

.profileInfo {
  /* float: left; */
  /* margin-left: 3em; */
}

.profileTable {
  border-collapse: collapse;
  border-style: ridge;
}

.profileTable td,
th {
  border: 1px solid #ddd;
  padding: 6px;
  /* width: 300px; */
}

.profileTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.profileTable tr:hover {
  background-color: #ddd;
}

.profilePosts {
  /* float: right; */
  /* margin-right: 3em; */
}

.profileInfo {
  float: left;
}

.profilePic {
  width: 200px;
}

.profileContent {
  padding-top: 50px;
  padding-right: 15px;
  position: absolute;
}


.editProfileButton {
  margin-top: 7em;
  margin-left: 3em;
}

/* *********** Profile Info *********** */

/* *********** Profile Posts *********** */

.profilePostCards {
  padding: 3px;
}

mat-card {
  padding: 20px;
}

mat-card-title {
  font-size: medium;
  margin-bottom: 1px;
}

mat-card-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: x-small;
  font-style: italic;
}

mat-card-content {
  font-size: small;
  margin-top: 5px;
  float: left;
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 25px;
}

mat-card-actions {
  text-align: right;
  margin-top: 5px;
}

.addPostButton {
  margin-left: 3px;
  margin-bottom: 5px;
  text-align: right;
}

h3 {
  text-align: center;
}
/* *********** Profile Posts *********** */
