<div *ngIf="profile">
  <div class="profileBanner">
    <h1 class="display-4">{{profile.user.username}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col" id="profileColumn">
        <div class="editProfileButtonDiv" *ngIf="!editProfile">
          <button *ngIf="(profile.user === loggedInUser)" class="editProfileButton" mat-raised-button color="primary"
            (click)="setEditProfile()" (click)="open(content)"><i class="fas fa-edit"></i> Edit Profile</button>
        </div>
        <div class="profileInfo">
          <div class="profileHeader">
            <!-- profile pic -->
            <div class="profilePicDiv">
              <img class="profilePic" src="{{profile.imageUrl}}" alt="{{selectedUser.username}}">
            </div>
            <!-- **************** User information **************** -->
            <div class="profileContent">
              <table class="profileTable">
                <tr>
                  <th>Name</th>
                  <td>{{profile.firstName}} {{profile.lastName}}</td>
                </tr>
                <tr>
                  <th>Location</th>
                  <td><em>{{profile.location.city}}, {{profile.location.state}}</em></td>
                </tr>
                <tr *ngIf="profile.location.country">
                  <th>Country</th>
                  <td><strong>{{profile.location.country}}</strong></td>
                </tr>
                <!-- <tr *ngIf="profSkills">
              <th>Skills</th>
              <div *ngFor="let s of profSkills">
                <td>{{s.title}}</td>
              </div>
            </tr> -->
                <tr>
                  <th>Bio</th>
                  <td>{{profile.bio}}</td>
                </tr>
              </table>
            </div>
            <!-- **************** User information **************** -->
          </div>
        </div>
        <!-- **************** Edit profile Modal **************** -->
        <ng-template #content let-modal>
          <div *ngIf="editProfile" class="editProfileTable">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Edit Profile</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="editProfile = null">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="firstName">First Name:</label>
                  <input id="firstName" class="form-control" name="firstName" type="text" [(ngModel)]="editProfile.firstName">
                  <label for="lastName">Last Name:</label>
                  <input id="lastName" class="form-control" name="lastName" type="text" [(ngModel)]="editProfile.lastName">
                  <label for="image">Profile Picture:</label>
                  <input id="image" class="form-control" name="image" type="text" [(ngModel)]="editProfile.imageUrl">
                  <label for="bio">Bio:</label>
                  <textarea id="bio" class="form-control" name="bio" [(ngModel)]="editProfile.bio"></textarea>
                  <label for="city">City:</label>
                  <input id="city" class="form-control" name="city" type="text" [(ngModel)]="editProfile.location.city">
                  <label for="state">State:</label>
                  <input id="state" class="form-control" name="state" type="text" [(ngModel)]="editProfile.location.state">
                  <label for="country">Country:</label>
                  <input id="country" class="form-control" name="country" type="text" [(ngModel)]="editProfile.location.country">
                </div>
                <!--
        <tr>
          <td>Skills</td>
        </tr>
        <tr>
          <div *ngFor="let s of skills; let i = index">
            <span><input type="checkbox" name="skill{{i}}" value="{{s}}" [(ngModel)]="editProfile.skills"> {{s.title}}</span>
          </div>
        </tr> -->
                <div class="modal-footer">
                  <button mat-raised-button color="primary" name="update" (click)="updateProfile(editProfile)" (click)="modal.close('Save click')"><i
                      class="far fa-save"></i> Save</button>
                  <button mat-raised-button color="accent" name="cancel" (click)="editProfile = null" (click)="modal.dismiss('Cross click')"><i
                      class="fas fa-ban"></i> Cancel</button>
                  <button mat-raised-button color="warn" name="delete" (click)="deleteProfile(editProfile)" (click)="modal.dismiss('Cross click')"><i
                      class="fas fa-minus-circle"></i> Deactivate Profile</button>
                </div>
              </form>
            </div>
          </div>
        </ng-template>
      </div>
      <!-- **************** End edit profile modal **************** -->

      <!-- ******************** User Post ******************** -->
      <!-- **************** Create new post **************** -->
      <ng-template #newPostContent let-modal>
        <div *ngIf="newPost" class="newpost">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Share a Post</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="newPost = null">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="title">Title:</label>
                <input id="title" class="form-control" type="text" name="title" placeholder="Post Title" [(ngModel)]="newPost.title">
                <label for="content">Text:</label>
                <textarea id="title" class="form-control" name="content" placeholder="Post Content" [(ngModel)]="newPost.content"></textarea>
                <label for="media">Link:</label>
                <input id="media" class="form-control" type="text" name="media" placeholder="Media" [(ngModel)]="newPost.media">
              </div>
              <div class="modal-footer">
                <button mat-raised-button color="primary" (click)="addNewPost()" (click)="modal.close('Save click')"><i
                    class="fas fa-share"></i> Share</button>
                <button mat-raised-button color="accent" (click)="modal.dismiss('Cross click')" (click)="newPost = null"><i
                    class="fas fa-ban"></i> Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
      <!-- **************** End create new post **************** -->

      <div class="col" id="userPostsColumn">
        <div *ngIf="!editProfile" class="profilePosts">
          <div class="newPostButtonDiv">
            <button *ngIf="!newPost && profile.user === loggedInUser" class="addPostButton" mat-raised-button color="accent"
              (click)="addPost()" (click)="open(newPostContent)"><i class="far fa-edit"></i> New Post</button>
          </div>
          <div class="postsBanner">
            <h3>{{profile.firstName}}'s Posts</h3>
          </div>

          <!-- **************** Display a list of user's posts **************** -->
          <div *ngIf="!selectedPost && !editPost">
            <div *ngFor="let post of posts" class="profilePostCards">
              <mat-card>
                <mat-card-title>{{post.title}}</mat-card-title>
                <mat-card-subtitle>Shared on {{post.createdDate | date:'shortDate'}}</mat-card-subtitle>
                <mat-card-content>
                  <p>{{post.content}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button color="primary" name="show" type="submit" (click)="displayPost(post)" (click)="open(viewPostContent)"><i
                      class="far fa-eye"></i> View
                    Post</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <!-- **************** End Display a list of user's posts **************** -->

          <ng-template #viewPostContent let-modal>
            <!-- **************** Display a post's full details when selected **************** -->
            <div *ngIf="selectedPost && !editPost">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-viewPost-title">
                  {{selectedPost.title}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="selectedPost = null">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title id="profilePostTitle">
                      {{selectedPost.title}}
                    </mat-card-title>
                    <mat-card-subtitle id="profilePostSubtitle">
                      Posted On {{selectedPost.createdDate | date: 'fullDate'}}
                    </mat-card-subtitle>
                  </mat-card-header>
                  <div class="container" id="selectedPostContent">
                    {{selectedPost.content}}
                    <div id="mediaLink">
                      <strong>Media Link:</strong>
                      {{selectedPost.media}}
                    </div>
                    <div id="commentsDiv">
                      <strong>Comments:</strong>
                      <div *ngFor="let c of selectedPost.comments" id="commentsListDiv">
                        <span id="commenter"><strong>{{c.profile.user.username}} said:</strong></span>
                        <p id="comment">{{c.content}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- <input type="text" name="createdDate" placeholder="{{selectedPost.createdDate}}" disabled="disabled" /> -->
                  <!-- <td><input type="text" name="updatedDate" placeholder="{{selectedPost.updatedDate}}" /></td> -->
                  <!-- comments -->
                </mat-card>
              </div>
              <div class="modal-footer" *ngIf="profile.user === loggedInUser">
                <button mat-raised-button color="accent" name="cancel" type="submit" (click)="selectedPost = null"
                  (click)="modal.dismiss('Cross click')"><i class="fas fa-angle-double-left"></i> Back</button>
                <button mat-raised-button color="primary" name="update" type="submit" (click)="editPost = selectedPost"><i
                    class="far fa-edit"></i> Edit
                  Post</button>
                <button mat-raised-button color="warn" name="delete" type="submit" (click)="deletePost(selectedPost.id)"
                  (click)="modal.dismiss('Cross click')"><i class="fas fa-minus-circle"></i> Delete
                  Post</button>
              </div>
            </div>

            <!-- **************** Display a post's full details when selected **************** -->
            <!-- **************** Edit Post **************** -->
            <div *ngIf="editPost">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-viewPost-title">
                  Editing {{selectedPost.title}}
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="editPost = null"
                  (click)="selectedPost = null">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input id="title" class="form-control" type="text" name="title" [(ngModel)]="editPost.title">
                  <label for="content">Content</label>
                  <textarea id="content" class="form-control" name="content" [(ngModel)]="editPost.content"></textarea>
                  <label for="media">Media</label>
                  <textarea id="media" class="form-control" name="media" [(ngModel)]="editPost.media"></textarea>
                  <!-- <input type="text" name="createdDate" placeholder="{{selectedPost.createdDate}}" disabled="disabled" /> -->
                  <!-- <td><input type="text" name="updatedDate" placeholder="{{selectedPost.updatedDate}}" /></td> -->
                  <!-- comments -->
                </div>
              </div>
              <div class="modal-footer">
                <button mat-raised-button color="primary" name="update" type="submit" (click)="updatePost(editPost)"
                  (click)="modal.close('Save click')" (click)="editPost = null" (click)="selectedPost = null"><i class="fas fa-save"></i>
                  Save</button>
                <button mat-raised-button color="accent" name="cancel" type="submit" (click)="editPost = null" (click)="selectedPost = null"
                  (click)="modal.dismiss('Cross click')"><i class="fas fa-ban"></i> Cancel</button>
                <button mat-raised-button color="warn" name="delete" type="submit" (click)="modal.dismiss('Cross click')"
                  (click)="deletePost(editPost.id)" (click)="editPost = null"><i class="fas fa-minus-circle"></i>
                  Delete
                  Post</button>
              </div>
            </div>
            <!-- **************** Edit Post **************** -->
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- **************** Display a post's full details when selected **************** -->
