<h1>Welcome to {{selectedUser.username}}'s profile</h1>
<div>
  <button class="btn-outline-primary" (click)="setEditProfile()">Edit Profile</button>
</div>

<div *ngIf="editProfile">
  <form>
    <input type="text" name="firstName" [(ngModel)]="editProfile.firstName">
    <input type="text" name="lastName" [(ngModel)]="editProfile.lastName"><br>
    <input type="text" name="image" style="width: 300px;" [(ngModel)]="editProfile.imageUrl"><br>
    <input type="text" name="bio" style="width: 300px; height: 100px;" [(ngModel)]="editProfile.bio"><br>
    <input type="text" name="city" [(ngModel)]="editProfile.location.city">
    <input type="text" name="state" [(ngModel)]="editProfile.location.state"><br>
    <input type="text" name="country" [(ngModel)]="editProfile.location.country"><br>
    <!-- <input type="checkbox" name="skillsTitle" [(ngModel)]="editProfile.skills.title"> -->
    <button class="btn-outline-primary" (click)="editProfile = null">Cancel</button>
    <button class="btn-outline-primary" (click)="updateProfile(editProfile)">Update Profile</button>
  </form>
</div>

<div class="profileInfo">

  <!-- profile pic -->
  <div>
    <img width="200" src="{{profile.imageUrl}}" alt="{{selectedUser.username}}">
  </div>

  <!-- user information -->
  <table>
    <tr>
      <th>First Name</th>
      <td>{{profile.firstName}}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{profile.lastName}}</td>
    </tr>
    <tr>
      <th>Location</th>
      <td>{{profile.location.city}} {{profile.location.state}}</td>
    </tr>
    <tr>
      <th>Bio</th>
      <td>{{profile.bio}}</td>
    </tr>
    <tr>
      <th>Skills</th>
      <div *ngFor="let s of profile.skills">
       <td>{{s.title}}</td>
      </div>
    </tr>
  </table>

</div>

<div class="profilePosts">

  <!-- posts -->
  <h3>Your Posts</h3>

  <!-- display a list of user's posts -->
  <div *ngIf="!selectedPost">
    <div *ngFor="let post of posts">
      <table>
        <tr>
          <td>{{post.title}}</td>
        </tr>
        <tr>
          <td>{{post.createdDate | date:'shortDate'}}</td>
        </tr>
      </table>
      <button class="btn-outline-primary" name="show" type="submit" (click)="displayPost(post)">Details</button>
    </div>
  </div>

  <!-- display a post's full details when selected -->

  <div *ngIf="editPost">
    <table>
      <tr>
        <td>Title</td>
        <td><input type="text" name="title" [(ngModel)]="editPost.title" /></td>
      </tr>
      <tr>
        <td>Content</td>
        <td><input type="text" name="content" style="width: 300px; height: 100px;" [(ngModel)]="editPost.content" /></td>
      </tr>
      <tr>
        <td>Media</td>
        <td><input type="text" name="media" [(ngModel)]="editPost.media" /></td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{editPost.createdDate}}</td>
          <!-- <input type="text" name="createdDate" placeholder="{{selectedPost.createdDate}}" disabled="disabled" /> -->
        <!-- <td><input type="text" name="updatedDate" placeholder="{{selectedPost.updatedDate}}" /></td> -->
      </tr>
      <!-- comments -->
      <td>Comments:</td>
      <tr>
        <div *ngFor="let c of editPost.comments">
          <td>{{c.content}}</td>
        </div>
      </tr>
    </table>
    <button class="btn-outline-primary" name="cancel" type="submit" (click)="editPost = null">Cancel</button>
    <button class="btn-outline-primary" name="update" type="submit" (click)="updatePost(editPost)">Update Post</button>
    <button class="btn-outline-primary" name="delete" type="submit" (click)="deletePost(editPost.id)">Delete Post</button>
  </div>

  <div *ngIf="selectedPost">
      <table>
        <tr>
          <td>Title</td>
          <td>{{selectedPost.title}}</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>{{selectedPost.content}}</td>
        </tr>
        <tr>
          <td>Media</td>
          <td>{{selectedPost.media}}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{selectedPost.createdDate}}</td>
            <!-- <input type="text" name="createdDate" placeholder="{{selectedPost.createdDate}}" disabled="disabled" /> -->
          <!-- <td><input type="text" name="updatedDate" placeholder="{{selectedPost.updatedDate}}" /></td> -->
        </tr>
        <!-- comments -->
        <td>Comments:</td>
        <tr>
          <div *ngFor="let c of selectedPost.comments">
            <td>{{c.content}}</td>
          </div>
        </tr>
      </table>
      <button class="btn-outline-primary" name="update" type="submit" (click)="editPost = selectedPost">Edit Post</button>
      <button class="btn-outline-primary" name="delete" type="submit" (click)="deletePost(selectedPost.id)">Delete Post</button>
    </div>

</div>

<!-- add post -->
<!-- <div>
      <h3>Add Post</h3>
      <form #addNewPost="ngForm">
        <input type="text" name="title" placeholder="Title" ngModel>
        <input type="text" name="content" placeholder="Text Content" ngModel/>
        <input type="text" name="media" placeholder="Media Content" ngModel>
        <button class="btn-outline-primary" (click)="addPost(addNewPost)" >Submit Post</button>
      </form>
    </div> -->


<!-- user can update their profile -->
<!-- user can add a post -->
