
<!-- list of comments -->
<!-- <div *ngIf="selectedPost"> -->
  <!-- <div *ngFor="let comment of comments">
  <table>
    <tr>
      <td>{{comment.content}}</td>
      <td>{{comment.createdAt}}</td>
      <td>{{comment.updatedAt}}</td>
    </tr>
  </table>
  </div>
</div> -->



<!-- update a comment -->
<!-- <div *ngIf="selectedComment">
<div *ngFor="let comment of comments">
    <input type="text" value="{{comment.content}}">
    <button class="btn-outline-primary" type="submit" name="update" (click)="updateComment(selectedPost.id)">Update</button>
    <button class="btn-outline-primary" type="submit" name="cancel" selectedPost = null>Cancel</button>
</div>
</div>

delete a comment -->
<!-- <div *ngIf="selectedComment">
<div *ngFor="let comment of comments">
    <p>{{comment.content}}"</p>
    <button class="btn-outline-primary" type="submit" name="update" (click)="deleteComment(selectedPost.id)">Delete</button>
    <button class="btn-outline-primary" type="submit" name="cancel" selectedPost = null>Cancel</button>
</div>
</div> -->
