.commentPic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.commentUsername {
  margin-left: 20px;
  color: black;
}

.profSearchBio {
  text-align: center;
}

.postImage {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
