/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Sidebar */
.left-container {
  background-color:lightgrey;
  display: flow-root;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.container {
  padding: 30px;
}
#sidebarListItems {
  padding-top: 10px;
  margin-right: 8px;
  background-color: lightgray;
}
#sidebarListItem {
  padding: 1px;
}
/* Sidebar */
#postsContainer {
  padding-top: 15px;
  padding-left: 10px;
}
/* Post Cards */
#postImg {
  width: 250px;
  padding: 30px;
}
#postCards {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
}
/* Post Cards */
