
<div *ngIf="!selected">
<!-- <div>
  <button class="btn-danger" name="delete" type="submit" (click)="deletePost(selected.id)">X</button>
  <p>{{selected.content}}</p>
</div> -->


<div>
  <form #addNewPost="ngForm">
    <input type="text" name="title" placeholder="Title" ngModel>
    <input type="text" name="content" placeholder="Text Content" ngModel/>
    <input type="text" name="media" placeholder="Media Content" ngModel>
    <button class="btn-outline-primary" (click)="addPost(addNewPost)" >Submit Post</button>
  </form>
</div>

<div>
    <form #editPost="ngForm">
        <input type="text" name="title" ngModel>
        <input type="text" name="content" ngModel>
        <input type="text" name="media" ngModel>
        <button class="btn-outline-primary" (click)="updatePost(editPost)" >Update Post</button>
        <button class="btn-outline-primary" name="delete" type="submit" (click)="deletePost(selected.id)">Delete Post</button>
      </form>
</div>
</div>

<!-- display single post -->
<div>
  <table *ngIf="selected">
    <tr>
      <td>{{selected.title}}</td>
      <td>{{selected.content}}</td>
      <td>{{selected.media}}</td>
      <td>{{selected.createdDate}}</td>
      <td>{{selected.updatedDate}}</td>
    </tr>
  </table>

  <!-- tag for comments html -->
  <div>
    <app-comment></app-comment>
  </div>
</div>

