<!-- Sidebar -->
<!-- Link to Sidebar function information: https://material.angular.io/components/sidenav/api-->
<mat-sidenav-container class="left-container" (backdropClick)="close('backdrop')" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #sidenav [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" (keydown.escape)="close('escape')"
    disableClose>
    <div class="container-fluid" id="sidebarListItems">
      <p><button mat-raised-button color="accent" (click)="close('toggle button')">Dismiss</button></p>

      <div *ngFor="let item of categories">
        <div id="sidebarListItem">
          <button mat-raised-button color="primary" (click)="selectedCategory = item" (click)="close('toggle button')">{{item.name}}</button>
        </div>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container" id="postsContainer">
      <p><button mat-raised-button color="accent" (click)="sidenav.open()"> Search Categories</button></p>
      <!-- Sidebar page content: everything wanted on the page goes in here -->


      <div *ngIf="selected">
        <button class="buttons" mat-raised-button color="primary" (click)="goBack()">Back</button>
      </div>

      <!-- display list of posts -->
      <div *ngIf="!selected">
        <div id="postCards" *ngFor="let post of posts | category: selectedCategory">
          <mat-card class="postCard">
              <mat-card-header>
                  <mat-card-content>
                    <img class="commentPic" src="{{post.profile.imageUrl}}">
                  </mat-card-content>
                  <mat-card-content>
                    <a [routerLink]="['/profile/']">
                    <h4 class="commentUsername">{{post.profile.user.username}}</h4>
                    </a>
                  </mat-card-content>
              </mat-card-header>
            <mat-card-header>
              <mat-card-title>
                <h2>{{post.title}}</h2>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h6  *ngIf="post.content">
                {{post.content}}
              </h6>
              <p *ngIf="post.media">
                <img class="postImage" src="{{post.media}}">
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="displaySelected(post)">View More</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <!-- display single post -->
      <div *ngIf="selected">
          <mat-card class="postCard">
              <mat-card-header>
                <mat-card-content>
                  <img class="commentPic" src="{{selected.profile.imageUrl}}">
                </mat-card-content>
                <mat-card-content>
                  <h2 class="commentUsername">{{selected.profile.user.username}}</h2>
                </mat-card-content>
              </mat-card-header>
              <mat-card-header>
                  <mat-card-title>
                    <h1>{{selected.title}}</h1>
                  </mat-card-title>
              </mat-card-header>
              <mat-card-content class="commentText"  *ngIf="selected.content">
                <h6>{{selected.content}}</h6>
              </mat-card-content>
              <mat-card-content  *ngIf="selected.media">
                <img class="postImage" width="300" height="300" src="{{selected.media}}">
              </mat-card-content>
              <mat-card-content>
                {{selected.createdDate | date: 'fullDate'}}
              </mat-card-content>
          </mat-card>

        <h2 class="commentsHeader">Comments:</h2>

          <div class="postCardBox">
            <mat-card *ngFor="let c of selected.comments" class="postCard">
                <mat-card-header>
                    <mat-card-content>
                        <img class="commentPic" src="{{c.profile.imageUrl}}">
                    </mat-card-content>
                    <mat-card-content>
                      <h4 class="commentUsername">{{c.profile.user.username}}</h4>
                    </mat-card-content>
                </mat-card-header>
                <mat-card-content>
                  <h6>{{c.content}}</h6>
                </mat-card-content>
                <mat-card-content>
                    <p>{{c.createdAt | date: 'fullDate'}}</p>
                </mat-card-content>
                <mat-card-content>
                    <input class="upvoteImg" type="image" src="https://cdn.pixabay.com/photo/2013/07/13/10/27/hand-157251__340.png"
                     alt="upvote"/>
                    <input class="downvoteImg" type="image" src="http://www.clker.com/cliparts/7/h/y/H/m/Y/red-thumbs-down-hi.png"
                      alt="downvote" />
                    <input class="updateImg" type="image" src="https://cdn4.iconfinder.com/data/icons/Primo_Icons/PNG/128x128/button_blue_repeat.png"
                      alt="update" (click)="displayComment(c)"/>
                    <input class="deleteImg" type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Crystal_button_cancel.svg/120px-Crystal_button_cancel.svg.png"
                      alt="delete" (click)="deleteComment(c.id)"/>
                </mat-card-content>
            </mat-card>
          </div>

        <!-- add a comment -->
        <div *ngIf="!selectedComment">
          <form #comment="ngForm">
            <input class="commentTextBox" type="text" name="content" placeholder="write your comment here" ngModel><br>
            <button class="buttons" mat-raised-button color="primary" type="submit" name="comment" (click)="addComment(comment, selected.id)">Comment</button>
            <!-- <button class="buttons" mat-raised-button color="primary" type="submit" name="cancel">Cancel</button> -->
          </form>
        </div>

        <!-- update a comment -->
        <div *ngIf="selectedComment">
          <form #comment="ngForm">
            <table>
              <tr>
                <td><input class="commentTextBox" type="text" name="content" placeholder="{{selectedComment.content}}" ngModel/></td>
              </tr>
            </table>
            <button class="buttons" mat-raised-button color="primary" type="submit" name="comment" (click)="updateComment(comment, selectedComment.id)">Update</button>
            <button class="buttons" mat-raised-button color="primary" type="submit" name="cancel" (click)="selectedComment = null">Cancel</button>
          </form>
        </div>

      </div>
      <!-- Sidebar content -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Sidebar -->
