#categoryBtn {
  margin-left: 15px;
  margin-top: 15px;
}

.left-container {
  flex: 1;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

#sidebarListItems {

}

.commentTextBox {
  height: 150px;
  width: 400px;
}

.commentsHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentPic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.commentUsername {
  margin-left: 20px;
  color: black;
}

.postCardBox {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.profilePic {
  float: left;
}

.upvoteImg {
  height: 30px;
  width: 30px;
  transition: transform .2s;
  margin-right: 10px;
}

.upvoteImg:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(2);
}

.downvoteImg {
  height: 30px;
  width: 30px;
  transition: transform .2s;
  margin-right: 10px;
}

.downvoteImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}

.updateImg {
  height: 40px;
  width: 40px;
  transition: transform .2s;
  margin-bottom: -5px;
  margin-right: 10px;
}

.updateImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}

.deleteImg {
  height: 30px;
  width: 30px;
  transition: transform .2s;
  margin-right: 10px;
}

.deleteImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}

.postHeader {
  text-align: center;
}

.postTitle {
  color: black;
  text-align: center;
  float: right;
  position: relative;
}

.postProfilePic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: left;
}

.postUsername {
  color: black;
  float: left;
  margin-left: 20px;
}

.postDiv {
  margin-top: 130px;
}

.postContent {
  font-size: 20px;
}

.postImage {
  height: 300px;
  width: 400px;
}

.viewMore {
  float: left;
}

.date {
  float: right;
}
