.postImage {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profilePic {
  float: left;
}

.postTitle {
  float: right;
}

.commentTextBox {
  height: 150px;
  width: 400px;
}

.commentsHeader {
  margin-top: 20px;
  margin-bottom: 20px;
}

.commentPic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.commentUsername {
  margin-left: 20px;
}

.postCardBox {
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.upvoteImg {
  height: 30px;
  width: 30px;
  transition: transform .2s;
  margin-right: 10px;
}

.upvoteImg:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(2);
}

.downvoteImg {
  height: 30px;
  width: 30px;
  transition: transform .2s;
  margin-right: 10px;
}

.downvoteImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}

.updateImg {
  height: 40px;
  width: 40px;
  transition: transform .2s;
  margin-bottom: -5px;
  margin-right: 10px;
}

.updateImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}

.deleteImg {
  height: 30px;
  width: 30px;
  transition: transform .2s;
  margin-right: 10px;
}

.deleteImg:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(2);
}

.postHeader {
  text-align: center;
}
