<div>
    <form #addUser="ngForm">
      <table>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email" ngModel/></td>
        </tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="username" ngModel/></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="text" name="password" ngModel/></td>
        </tr>
      </table>
        <button class="btn-outline-primary" (click)="register(addUser)" >Submit</button>
    </form>
  </div>
